@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=PT+Sans+Narrow&family=Roboto+Mono:wght@100&display=swap');

body{
    margin:auto;
    background-color:rgb(128 128 128/0.2);
    
}
#navbar_blue{
    width:100%;
    height:60px;
    
}

/* subheading section  */
 #sub-heading_items{
    width:100%;
   
    /* height: 116px; */
   
    box-shadow: 5px 5px 5px grey;
} 


/* content area */
#img_carousel{
    width:98%;
    
    margin-left:1%;
    /* border:4px solid yellow; */
    margin-top:1%;

}

/* deal of the day part */
#items_contentPage{
    width:100%;
    margin-top:1%;
    /* border:2px solid red; */
    display:inline-block;
    /* box-shadow: 5px 5px 5px grey; */
}

#deal_of_day_part1{
   float:left;
    width:70%;
    /* border:1px solid blue; */
    margin-left:1%;
    margin-top:1%;
    background-color:white;
    /* border:1px solid grey; */

}

#deal_of_day_part1>span{
    /* float:left;
     width:70%;
     border:1px solid blue;*/
     margin-left:1%;
     margin-top:3%; 
     font-size: x-large;
    font-weight:bold;


 }
 #deal_of_day_part1>button{
    /* float:left;
     width:70%;
     border:1px solid blue;
     margin-left:1%;
     margin-top:2%; */
     /* font-size: x-large;
    font-weight:bold; */
    float:right;
    margin-right:1%;
    margin-top:1%;


 }


#deal_of_day_part2{
   float:left;
    width:27%;
    height:309px;
    /* border:1px solid green; */
    margin-left:1%;
    margin-top:1%;
    box-shadow: 5px 5px 5px grey;
    background-color:white;
    
}

/* flipkart details */

#flip_detail{
    width:100%;
    background-color:white;
    margin-top: 1%;
   
}
.flip_detail_margin{
    margin-left:2%;
    margin-right:2%;
    /* font-family: 'Roboto Mono', monospace; */
    text-align: justify;
    padding-top: 2%;
}
.flip_detail_margin>h1,h2{
    color:grey;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:large;
    font-weight: bold;
}
.flip_detail_margin>p,span{
     
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:small;
    color:rgb(128 128 128/0.9);
   /* font-weight: bold; */
}
b{
    font-family: 'PT Sans Narrow', sans-serif;
    color:grey;   
}
/* flip details end */

/* footer */
#footer_black{
    width:100%;
    background-color:rgb(0 0 0/0.7);
}
footer>hr{
    color:white;
}
a{
    text-decoration:none;
}
.anchor_blue{
    color:black;
}
.anchor_blue:hover{
    color:blue;
}
